:root{
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--violet);
    background-size: cover;
    padding: 25px 50px 15px;
    font-weight: 400;
    min-height: 100vh;
    overflow: hidden;
}

.logo img{
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.mockup img{
    width: 45vw;
}

.container{
    display: flex;
}

.content{
    padding: 50px;
    align-items: center;
    margin-left: 10px;
    
}

.content h1,p{
    color: white;
}

.content h1{
    font-family: "Poppins", sans-serif;
    line-height: 1.6em;
    font-size: 38px;
    margin-bottom: 17px;
    width: 450px;
    font-weight: 600;
}

.content p{
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    font-size: 19px;
    margin-bottom: 40px;
    width: 540px;
}

.register a{
    text-decoration: none;
    border-radius: 1.5em;
    border: none;
    background-color: white;
    color: var(--violet);
    padding: 10px 45px;
    font-family: "Poppins", sans-serif;
    font-size: 16px; 
    box-shadow: 20px 7px 20px rgba(0, 0, 0, 0.1);
}

.register a:hover{
    cursor: pointer;
    background-color: var(--softMagenta);
    color: white;
}

.fa-brands{
    border: 1.5px solid white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 13px;
    padding: 7px 4px 0 4px;
    color: white;
    margin-inline-start: 6px;
    position: relative;
    left: 90%;
}

.fa-brands:hover{
    cursor: pointer;
    color: var(--softMagenta);
    border: 1.5px solid var(--softMagenta);
}

@media only screen and (max-width:768px) {
    body{
        background-image: url(../images/bg-mobile.svg);
        background-color: var(--violet);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
        min-width: 100%;
        overflow: hidden;
    }

    .logo img{
        margin-bottom: 30px;
        width: 50%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .mockup img{
        width: 85vw;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content h1{
        margin-top: 0;
        width: 330px;
        font-size: 25px;
        line-height: 1.1cm;
        text-align: center;
    }

    .content p{
        width: 350px;
        text-align: center;
        font-size: 18.5px;
        line-height: 0.7cm;
        margin-bottom: 35px;
    }
    .register{
        margin-left: 10px;
        margin-bottom: -10px;
    }

    .register a{
        font-size: 15px;
        padding: 10px 60px;
    }
    
    .fa-brands{
        left: 28%;
    }

    .attribution{
        margin-top: 40px;
    }
}
